{% load staticfiles %}

<!DOCTYPE html>
<html lang-"eng">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
   <head>
	<title> HPF : 
	{% block title %}
	NO TITLE 
	{% endblock %} - {{frameidentity}}
	</title>
	
	<link href="{% static "photoswipe.css" %}" type="text/css" rel="stylesheet" />

	<!-- Le styles for twitter bootstrap-->
	    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	    <style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>
	    <link href="{%static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">

	<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>	
	<script type="text/javascript" src="{% static "klass.min.js" %} "> </script>
	<script type="text/javascript" src="{% static "code.photoswipe.jquery-3.0.5.min.js" %}" ></script>
	<script type="text/javascript" src="{% static "hpf.js" %}" ></script>
	<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script>
	function fullscreen() {
	    $('a').click(function() {
	        if(!$(this).hasClass('noeffect')) {
	            window.location = $(this).attr('href');
	            return false;
	        }
	    });
	}

	</script>

{% block extrascripts %}
{% endblock %}

	<script>
	window.onload = function() {
	    hpfinit();
		fullscreen();
		
		{% block onload_functions %}
		{% endblock %}
    
	};
	</script>

   </head>

<body style="background-color:lightblue">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/" id="prog-name" style="color:green">HPF remote - {{ frameidentity }}</a> 
          <div class="nav-collapse collapse">
            <ul class="nav">

              <li><a href="/list">Upload a new image</a></li>
			

  	          <li class="hidden-phone"><a data-target="#" data-toggle="dropdown" class="dropdown-toggle" href="#">Shows
			          <b class="caret"></b>
			        </a>
		            	<ul id="showsmenu" class="dropdown-menu pull-right">
			              <li><a href="/app/1">Item A</a></li>
			              <li><a href="/app/2">Item B</a></li>
			              <li><a href="/app/3">Item C</a></li>
			            </ul>
					</li>
            </ul>


          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


{% block header %}
{% endblock %}

{% block content %}
   <noscript>
      <span style="color: #f00; font-weight: bold;">   You need to turn on JavaScript.    </span>
   </noscript>

<div id="maincontent" style="height: 50%">

<span id="frameMessage"></span>
<a href="#show-chooser"><div class="well">Showing:  <span id="currentShow">--</span></div></a>

<button class="btn btn-block btn-large" onclick="advance();"> Next <i class='icon-forward'></i></button>

<div id="frame-image" class="frameimage"> 
<span id="currentImageURL">--</span>
</div>
<button class="btn btn-block btn-large" onclick="rewind();" > <i class='icon-backward'></i> Previous 	</button>

</div>   <!-- Main Content div ends -->

<hr>
<button class="btn" onclick="stop();"> Stop </button>
<button class="btn" onclick="start();"> Start </button>
<button class="btn" onclick="get_currentimage_url();">Refresh</button>
<hr>
<div class="well hidden-desktop" id="show-chooser">
<h3>Available shows</h3>
<div id="showsList">--<div>
</div>
<a href="http://open.spotify.com/track/3uGbeMzmnWmE2bJNeVElrr">This is the end my friend.</a>
{% endblock %}
</body>
</html>