{% extends "base.html" %}
{% load staticfiles %}

{% block extrascripts %}

<script type="text/javascript">

	(function(window, PhotoSwipe){

		document.addEventListener('DOMContentLoaded', function(){

			var
				options = {},
				instance = PhotoSwipe.attach( window.document.querySelectorAll('#Gallery a'), options );

		}, false);


	}(window, window.Code.PhotoSwipe));
</script>

{% endblock %}

{% block title %}
File Upload
{% endblock %}


{% block content %}
      <!-- Upload form. Note enctype attribute! -->
      <form action="{% url list %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>
          <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
          <p>
              {{ form.docfile.errors }}
              {{ form.docfile }}
          </p>
          <p><input type="submit" value="Upload" /></p>
      </form>

   <!-- List of uploaded documents -->
   {% if documents %}


<ul id="Gallery" class="gallery">
       {% for document in documents %}
          <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li> 
       {% endfor %}
       </ul>
   {% else %}
       <p>No documents.</p>
   {% endif %}

<a href="/">Return Home</a>

{% endblock %}
